<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <title>about page</title>
    <link rel="icon" href="{{url_for('static',filename='img/BAMMY LOGO (1).ico')}}">
</head>
<body>
    <div class="container">
	    <nav class="main-nav">
	        <ul class="contact-info">
	            <li><i class="fa fa-phone-square" aria-hidden="true"> </i>+234705644176</li>
	            <li><i class="fa fa-envelope" aria-hidden="true"> </i>bammyschools03@gmail.com</li>
	            <li><i class="fa fa-clock-o" aria-hidden="true"> </i>School hours: 8:00AM - 3:00PM</li>
	        </ul>
	        <ul class="social-media">
	            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
	            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
	            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
	            <li><a href="#"><i class="fab fa-whatsapp"></i></a></i></li>
	        </ul>
	    </nav>

	    <section id="header">
	    <nav class="sub-nav">
	            <ul class="school-name">
	                <li class="logo-container"><img class="logo" src="{{url_for('static',filename='img/BAMMY LOGO.jpg')}}" alt="school-logo"></li>
	            </ul>
	            <div class="nav-overlay">
	                <ul>
						<li class="backBtn">BACK</li>
						<li class="active">HOME</li>
						<li><a href="{{url_for('site.admin')}}">ADMIN</a></li>
						<li><a href="{{url_for('site.newspage')}}">EVENTS</a></li>
	            	</ul>
	             </div>
	            <ul class="nav-menu">
	                <li><a href="{{url_for('site.index')}}">HOME</a></li>
	                <li><a href="{{url_for('site.admin')}}">ADMIN</a></li>
	                <li><a href="{{url_for('site.newspage')}}">EVENTS</a></li>
	            </ul>
	            <div class="hidden-menu menu">
	                <span></span>
	                <span></span>
					<span></span>
	             </div>
	    </nav>

	    <div class="about-text">
	        <h1 class="about">About Bammy College</h1>
	    <div class="buttons">
	        <button class="btn-one"><a href="#about">About US</a></button> &nbsp;&nbsp;
	        <button class="btn-one"><a href="#features">Features</a></button> &nbsp;&nbsp;
	        <button class="btn-one"><a href="#principal">Principal</a></button>
	    </div>
	    </div>
	    </section>
	    <section id="about">
	        <div class="about-info">
	           <p>Bammy-Collge High School ranks among the top of high schools in the state and offers students a comprehensive 9-12 grade education. Students have more than 20 courses to choose from including practical/contemporary art, to pure sciences and commercial subjects compulsory for an O'level degree, as they progres down their academic paths.
			   The school offers students several opportunities in performing and fine arts, as well as an avenue for each tribe amongst students to showcase the endearing sides of their culture , as they observe the well-schemed out plan for 'Cultural Day'.
			   </p> 
	        </div>
	        <div class="about-image">
	            <img src="{{url_for('static',filename='img/DSC_0538.JPG')}}" class="school-image" alt="school-image">
	        </div>
	    </section>
	    <!-- <div class="svg-container"><a href="#features">
	    <div class="svg-1"><img src="/img/arrowsvg.png" class="svg-image-1" alt="svg"></div>
	    <div class="svg-2"><img src="/img/arrowsvg.png" class="svg-image-2" alt="svg"></div>
	    <div class="svg-3"><img src="/img/arrowsvg.png" class="svg-image-3" alt="svg"></div>
	    </a></div>     -->
	    <section id="features">
	    <div class="page-wrapper">
	        <div class="post-slider">
	            <!-- <h1 class="slider-title">
	              Features
	            </h1> -->
	            <i class="fas fa-chevron-left prev"></i>
	            <i class="fas fa-chevron-right next"></i>
	            <div class="post-wrapper">
	                <div class="post">
	                    <img src="{{url_for('static',filename='img/COMPUTER LAB/DSC_0473.JPG')}}" class="slider-image" alt="blog">
	                    <div class="post-info">
	                        <h4>Our Computer Lab</h4>
	                    </div>
	                </div>
	                <div class="post">
	                        <img src="{{url_for('static',filename='img/DSC_0452.JPG')}}" class="slider-image" alt="blog">
	                        <div class="post-info">
	                            <h4>Volleyball Game</h4>
	                        </div>
	                    </div>
	                <div class="post">
	                        <img src="{{url_for('static',filename='img/TABLE TENNIS/DSC_0498.JPG')}}" class="slider-image" alt="blog">
	                        <div class="post-info">
	                            <h4>Table tennis</h4>
	                        </div>
	                    </div>
	            <div class="post">
	                    <img src="{{url_for('static',filename='img/DSC_0556.JPG')}}" class="slider-image" alt="blog">
	                    <div class="post-info">
	                        <h4>Our Classroom</h4>
	                    </div>
	                </div>
	                <div class="post">
	                        <img src="{{url_for('static',filename='img/EXCURSION PIX/DSC_7924.JPG')}}" class="slider-image" alt="blog">
	                        <div class="post-info">
	                            <h4>Our Excursion</h4>
	                        </div>
	                    </div>

	            </div>
	        </div>
	    </div>
	    </section>
	    <section id="principal">
	            <div class="about-principal-image">
	                    <img src="{{url_for('static',filename='img/DSC_0525.JPG')}}" class="principal-image" alt="school-image">
	                </div>
		        <div class="principal-info">
		            <p>
						Mr. Ojo Moses began serving Bammy_College High School as a physics teacher summer of 2013, and became principal of Bammy_College High School in July 2018. Previously, he served as the Vice-principal of the school for two years from 2017-2018. He has also served at the Yaba Polytechnic College as the Head of Department at the faculty of sciencesin 2013. He holds an OND degree in Electrical-electronics engineerign from the Lagos State Polytechnic,as well as an HND degree in Quauntity Surveying at the Yaba College of Technology, Lagos. He is working on his doctoral degree in Quauntity Surveying from the of Ilorin. <br><br>
						<strong>Email: moscok4@gmail.com</strong>
					</p> 
	            </div>
	    </section>

	  
	        <nav class="sec-main-nav">
	            <ul class="sec-contact-info">
	                <li><i class="fa fa-phone-square" aria-hidden="true"> </i>+234705644176</li>
	                <li><i class="fa fa-envelope" aria-hidden="true"> </i>bammyschools03@gmail.com</li>
	                <li><i class="fa fa-clock-o" aria-hidden="true"> </i>School hours: 8:00AM - 3:30PM</li>
	            </ul>
	            <ul class="sec-social-media">
	                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
	                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
	                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
	                <li><a href="#"><i class="fab fa-whatsapp"></i></a></i></li>
	            </ul>
	        </nav>
	</div>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <script src="{{url_for('static',filename='script/jquery.js')}}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{{url_for('static',filename='script/about_app.js')}}"></script>
</body>
</html> 